
/*CONTENT ABOUT US*/

.container-content-1{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    
}

.container_img_about {
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin: auto;
}

#image {
    display: block;
    width: 360px;
    height: auto;
  
}


.col-md narasi #about_text{
    font-family: 'avenir-medium';
    color: #f26529;
}

.col-md narasi p{
    font-family: 'avenir';
    font-size: 16px;
    text-align: left;
}

.col-md narasi #vision_text{
    font-family: 'avenir-medium';
    color: #f26529;
    margin-top: -50px;
}

.col-md narasi #mission_text{
    font-family: 'avenir-medium';
    color: #f26529;
    
}

@media (min-width: 568px){
    
   .container_img_about {
        float: right;
        position: relative;
        width: 70%;
        margin-left: 0;
        margin-top: 70px;
}

    #image {
        display: block;
        width: 450px;
        height: auto;
  
    }
    
    .col-md narasi #about_text{
        font-family: 'avenir-medium';
        color: #f26529;
    }

    .col-md narasi p{
        font-family: 'avenir';
        font-size: 16px;
        text-align: left;
    }

    .col-md narasi #vision_text{
        font-family: 'avenir-medium';
        color: #f26529;
        margin-top: 50px;
    }

    .col-md narasi #mission_text{
        font-family: 'avenir-medium';
        color: #f26529;
    }

}


.jumbotron-work, jumbotron-fluid{
    background-color: #e6e6e6;
    text-align: center;
    font-family: 'avenir-black';
    color: #f26529;
    margin-top: 200px;
    width: 75%;
    margin-left: 12.5%;
    height: 8%;
    padding-top: 10px;
}


.jumbotron jumbotron-fluid #work-list .container .tulisan {
    text-align: center;
    color: #f26529;
    font-family: 'avenir-black';
    line-height: 10px;
}

.work_principle {
    background-image: url(../Images/laptop-notebook-computer-macbook-keyboard-technology-114696-pxhere.com.jpg);
    background-size: cover;
    width: 75%;
    margin: auto;
}

.layer_8:hover {
    fill : #808080;
}

.layer_7:hover {
    fill : #808080;
}

.layer_6:hover {
    fill : #808080;
}

.layer_5:hover {
    fill : #808080;
}

.layer_4:hover {
    fill : #808080;
}


.layer_3:hover {
    fill : #808080;
}

.layer_2:hover {
    fill : #808080;
}


/*END CONTENT ABOUT US*/









    